html {
    overflow: hidden;
    scroll-behavior: smooth;
    height: 100vh;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    background: #222;
    perspective: 1px;
    overflow-x: hidden;
    overflow-y: scroll;
    transform-style: preserve-3d;
}
.section1, .section2 , .section3 {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transform-style: preserve-3d;
}
.section1 {


}


.section2 {
    background: rgb(68,35,19);
    height: 100vh;
    padding-top: 10vh;

}

.section3 {
    background: rgb(68,35,19);
    height: 100vh;
    width: 100vw;

}

.banner {
    background: url("images/ramenbanner.jpg");
    background-position: center;
    padding-left: 20%;
}
.text {

    font-size: 12vw;
    font-family: "Apple Symbols";
    font-weight: bolder;
    color: white;
    text-shadow: 5px 5px 10px black;
    position: absolute;
}
.section1::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background: url("https://assets.epicurious.com/photos/63c17f620a2588545b65efc9/3:2/w_4020,h_2680,c_limit/Atsuko-p-85_VOG_final.jpg") top center;
    background-size: cover;
    transform: translateZ(-1.25px) scale(2.5);


}
.text .section1{
    top: 10%;
    transform: translateZ(-0.5px) scale(5.5);
}

.section1::after {
    content: "";
    width: 100%;
    height: 70%;
    position: absolute;
    top: 70%;
    background: url("images/bowl.png") top center;
    background-size: 100%;
    




}
.rows {
    display: flex;
    flex-direction: column;
}

.responsive {
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: start;

}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5%;
}


